<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pharma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pharma.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/BMT.png" alt="BMT" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>                
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pharma</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/trolley.png" alt="Cart" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>                
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Privacy">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/user.png" alt="User" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>                
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between">
            <span class="follow mt-1">Follow us on</span>

            <ul class=" me-auto">
                <li class="social-item">
                    <a href="https://twitter.com">
                    <img src="~/twitter.png" alt="twitter" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>                
                </li>

                <li class="social-item">
                    <a href="https://facebook.com">
                    <img src="~/facebook.png" alt="facebook" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>
                </li>

                <li class="social-item">
                    <a href="https://instagram.com">
                    <img src="~/instagram.png" alt="instagram" width="30" height="30" class="d-inline-block align-text-top" asp-append-version="true"></a>
                </li>
            </ul>
            
            <span>&copy; 2024 - Pharma</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-item {
    display: inline-block;
    margin-right: 5px; 

.social-item:last-child {
    margin-right: 0; 
}

</style>
